.expertise-wrapper {
    grid-template-columns: 30% 70%;
    color: $white;
    font-family: $font;
    font-size: $medium;
    
    &:not(:last-of-type) {
        padding-bottom: 1.25rem;
    } 

    p:first-of-type {
        font-weight: 400;
    }

    p:last-of-type {
        padding-left: 1.25rem;
    }

    @include breakpoint-up (large) {
        grid-template-columns: 20% 80%;

        p:last-of-type {
            padding-left: 6.25rem;
        }

    }
}