main {
    .hero-section {
        position: relative;
    }

    .hero-image  {
        max-height: 25rem;
        overflow: hidden;

        @include breakpoint-up(large) {
            max-height: 62.5rem;
        }

        img {
            width: 100vw;
            height: auto;
            display: block;
        }
    }

    .hero-wrapper {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        @include breakpoint-up (large) {
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .hero-headline {
            width: 16rem;
            background-color: $white-transparent;
            padding: 1.25rem;
            margin-left: 0;
            box-shadow: -2px 3px 3px rgb(159, 159, 159);
    
            @include breakpoint-up (large) {
                width: 31.875rem;
                margin-left: 10%;
                padding: 14.375rem 1.875rem 3.125rem 1.875rem;
            }
        }
    }
}