// COLOURS
$white: rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.8);
$black: rgb(0, 0, 0);
$blue: rgb(8, 179, 229);
$green: rgb(42, 245, 152);
$dark-blue: rgb(38, 47, 68);
$gray: rgb(85, 85, 85);
$gradient: linear-gradient(to left, $blue, $green);

// FONT-SIZES
$small: 0.875rem;
$medium: 1rem;
$large: 2rem; 
$xlarge: 2.8125rem;